In [11]:
from athena import *
import pandas as pd

In [37]:
N = 1000
reported_winner_tally = 600
round_schedule = [50, 100, 150, 200, 250, 300]
# Based on Filip's code for pstop = [0.3, 0.5, 0.7, 0.9]
ra = [48, 75, 112, 184]
alpha = 0.1

In [14]:
audit_20 = Athena(N, reported_winner_tally, round_schedule, alpha)
audit_20.compute_audit()

The outputs: k_mins, LR denominator, LR numerator, 1 / LR (or alpha').
[32, 59, 87, 114, 142, 170]
 [0.03245432353613497, 0.062702204509582055, 0.073871355782238426, 0.082839083227917498, 0.086527996195378556, 0.088393817838159694]
 [0.33561326356098209, 0.65119261621773439, 0.78169729502765561, 0.87297049345280631, 0.91499610012512855, 0.9405557349949305]
 [0.096701552232419163, 0.095848732557439989, 0.08558429762448691, 0.098251486749783595, 0.087777744559974433, 0.07299875965699143]

In [40]:
results_by_round = zip(ra, audit_20.k_min_sched, audit_20.risk_sched, audit_20.pr_H0_sched, audit_20.pr_Ha_sched)

In [ ]:
a20df = pd.DataFrame.from_records(results_by_round, columns="size kmin risk num den".split())

In [26]:
a20df

   size  kmin      risk       num       den
0    50    32  0.096702  0.032454  0.335613
1   100    59  0.095849  0.062702  0.651193
2   150    87  0.085584  0.073871  0.781697
3   200   114  0.098251  0.082839  0.872970
4   250   142  0.087778  0.086528  0.914996
5   300   170  0.072999  0.088394  0.940556

In [39]:
audit_20 = Athena(N, reported_winner_tally, ra, alpha)
audit_20.compute_audit()

The outputs: k_mins, LR denominator, LR numerator, 1 / LR (or alpha').
[31, 46, 66, 105]
 [0.029731687626881415, 0.047616193329550263, 0.065036476219203304, 0.079855314358376422]
 [0.31111025247728313, 0.49736026233148495, 0.6800111237946258, 0.85253070872083769]
 [0.095566402553873997, 0.096024186611689336, 0.095374764455564781, 0.085896555718652234]

In [43]:
results_by_round = zip(ra, audit_20.k_min_sched, audit_20.risk_sched, audit_20.pr_H0_sched, audit_20.pr_Ha_sched)

In [41]:
a20dff = pd.DataFrame.from_records(results_by_round, columns="size kmin risk num den".split())

In [42]:
a20dff

   size  kmin      risk       num       den
0    48    31  0.095566  0.029732  0.311110
1    75    46  0.096024  0.047616  0.497360
2   112    66  0.095375  0.065036  0.680011
3   184   105  0.085897  0.079855  0.852531